.counterContainer {
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
  max-width: 200px;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f9A3f5;
}

.counterContainer h1 {
  margin-top: 0;
}

.counterContainer button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
}